<style>
    ul.todo-list li {
        height: 52px;
    }
    ul.todo-list li i.mark {
        
        height: 52px;
    }
</style>

<div class="row ">
    <div class="col-md-4">
        <div ba-panel ba-panel-title="Flight">
        <!--<h4>Flight</h4>-->
        <div class="task-todo-container" ng-class="{'transparent': transparent}">
        
        <i ng-click="addToDoItem('',true)" class="add-item-icon ion-plus-round"></i>
        <div class="box-shadow-border"></div>
        <ul class="todo-list" ui-sortable ng-model="flights">
            <li ng-repeat="item in flights" ng-if="!item.deleted" ng-init="activeItem=false"
                ng-class="{checked: isChecked, active: activeItem}"
                ng-mouseenter="activeItem=true" ng-mouseleave="activeItem=false">
            <div class="blur-container"><div class="blur-box"></div></div>
            <i class="mark" style="background-color: {{::item.color}}"></i>
            <label class="todo-checkbox custom-checkbox custom-input-success">
                <input type="checkbox" ng-model="isChecked">
                <span class="cut-with-dots">{{ item[2] }} </span>
                <span ><b>{{ item[3] | currency:"$":0}}</b></span>
            </label>
            <i class="remove-todo ion-ios-close-empty" ng-click="item.deleted = true"></i>
            </li>
        </ul>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        
        <div ba-panel ba-panel-title="Accomodation">
        <!--<h4>Flight</h4>-->
        <div class="task-todo-container" ng-class="{'transparent': transparent}">
        
        <i ng-click="addToDoItem('',true)" class="add-item-icon ion-plus-round"></i>
        <div class="box-shadow-border"></div>
        <ul class="todo-list" ui-sortable ng-model="accommodation">
            <li ng-repeat="item in accommodation" ng-if="!item.deleted" ng-init="activeItem=false"
                ng-class="{checked: isChecked, active: activeItem}"
                ng-mouseenter="activeItem=true" ng-mouseleave="activeItem=false">
            <div class="blur-container"><div class="blur-box"></div></div>
            <i class="mark" style="background-color: {{::item.color}}"></i>
            <label class="todo-checkbox custom-checkbox custom-input-success">
                <input type="checkbox" ng-model="isChecked">
                <span class="cut-with-dots">{{ item[2] }}</span>
                <span ><b>{{ item[3] | currency:"$":0}}</b></span>
                
            </label>
            <i class="remove-todo ion-ios-close-empty" ng-click="item.deleted = true"></i>
            </li>
        </ul>
        </div>
        </div>
    
    </div>
    <div class="col-md-4">
        
        <div ba-panel ba-panel-title="Tours">
        <!--<h4>Flight</h4>-->
        <div class="task-todo-container" ng-class="{'transparent': transparent}">
        
        <i ng-click="addToDoItem('',true)" class="add-item-icon ion-plus-round"></i>
        <div class="box-shadow-border"></div>
        <ul class="todo-list" ui-sortable ng-model="tours">
            <li ng-repeat="item in tours" ng-if="!item.deleted" ng-init="activeItem=false"
                ng-class="{checked: isChecked, active: activeItem}"
                ng-mouseenter="activeItem=true" ng-mouseleave="activeItem=false">
            <div class="blur-container"><div class="blur-box"></div></div>
            <i class="mark" style="background-color: {{::item.color}}"></i>
            <label class="todo-checkbox custom-checkbox custom-input-success">
                <input type="checkbox" ng-model="isChecked">
                <span class="cut-with-dots">{{ item[2] }}</span>
                <span ><b>{{ item[3] | currency:"$":0}}</b></span>
                
            </label>
            <i class="remove-todo ion-ios-close-empty" ng-click="item.deleted = true"></i>
            </li>
        </ul>
        </div>
        </div>
    
    
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <h4>Other recommendations</h4>
        <div class="row ">

            <uib-accordion>
  <uib-accordion-group is-open="true" heading="Static Header, initially expanded" panel-class="panel-primary bootstrap-panel accordion-panel panel-default">
    <div class="col-md-4">
                <div ba-panel>
                <h4>Flight</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Accomodation</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Package</h4>
            
                </div>
            </div>
  </uib-accordion-group>
  <uib-accordion-group heading="Dynamic Body Content" panel-class="panel-success bootstrap-panel accordion-panel panel-default">
    <div class="col-md-4">
                <div ba-panel>
                <h4>Flight</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Accomodation</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Package</h4>
            
                </div>
            </div>
  </uib-accordion-group>
  <uib-accordion-group heading="Custom template" panel-class="panel-info bootstrap-panel accordion-panel panel-default">
    <div class="col-md-4">
                <div ba-panel>
                <h4>Flight</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Accomodation</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Package</h4>
            
                </div>
            </div>
  </uib-accordion-group>
  <uib-accordion-group panel-class="panel-danger bootstrap-panel accordion-panel panel-default">
    <uib-accordion-heading>
      I can have markup, too! <i class="fa pull-right ion-settings"></i>
    </uib-accordion-heading>
    <div class="col-md-4">
                <div ba-panel>
                <h4>Flight</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Accomodation</h4>
            
                </div>
            </div>
            <div class="col-md-4">
                <div ba-panel>
                <h4>Package</h4>
            
                </div>
            </div>
  </uib-accordion-group>
</uib-accordion>
            
        </div>
    </div>
</div>