<div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="best destinations from <b><u>{{request.origin}}</u></b>" >
        <div ng-if="editableTableData">
        <table class="table table-hover" st-table="editableTableData">
            <thead>
            <tr class="sortable">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="destination">Destination</th>
            <th st-sort="purchases">Purchases</th>
            <th st-sort="price">Average Price</th>
            <th st-sort="detail">See Detail</th>
            
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in editableTableData track by $index" class="editable-tr-wrap">
            <td class="table-id">{{item.id}}</td>
            <td><span blur="cancel"><a href="#/bestquote/{{request.origin}}/{{item.destination}}/Economy/5.00/7">{{item.destination}}</a></span></td>
            <td><span blur="cancel">{{item.purchases | number:0}}</span></td>
            <td><span blur="cancel">{{item.price | currency:"$":0}}</span></td>
            <td><span blur="cancel"><a href="{{item.detail}}" target="_blank"><img src="assets/img/android-icon-36x36.png" width="30" height="30" alt="" ></a></span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
            </tr>
            </tfoot>
        </table>
        <!--<table class="table table-hover">
            <thead>
            <tr >
            <th >#</th>
            <th >Destination</th>
            <th >Purchases</th>
            <th>Average Price</th>
            <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in editableTableData" class="editable-tr-wrap">
            <td >{{$index+1}}</td>
            <td><span blur="cancel">{{item[3]}}</span></td>
            <td><span blur="cancel">{{item[4] | number:0}}</span></td>
            <td><span blur="cancel">{{item[5] | currency:"$":0}}</span></td>
            <td><span blur="cancel"><a href="https://plannertrip.com/itinerary-map/London/58d6fd982d197a00056f027d" target="_blank"><img src="assets/img/android-icon-36x36.png" width="30" height="30" alt="" ></a></span></td>
            </tr>
            </tbody>
            
        </table>-->
        </div>
      </div>
    </div>
</div>
<!--<pre >{{editableTableData | json}}</pre>-->